.navbar{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: large;
 font-weight:bold ;
}

header{
  font-size: 500px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Product CSS  */

.card{
  margin-top: 40px;
  
}
.card2{
  font-size: 30px;
  font-weight: bolder;
display: flex;
justify-content: center;
align-items: center;
}
.card3{
  font-size: 30px;
  font-weight: bolder;
display: flex;
justify-content: center;
align-items: center;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
  


/*  All Navbar Options Css used */





.wrapper{
  width: 500px;
  height: 50%;
  overflow: hidden;
  border: 0px solid #ece9e9;
  margin: 50px auto;
  padding: 10px;
}

.main-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #c4bbbb;
  border-radius: 5px;
  padding: 40px 50px;
}

.header {
  border: 0px solid #000;
  margin-bottom: 5px;
}



.input-1,
.input-2 {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.overlap-text {
  position: relative;
}

.overlap-text a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #003569;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
  letter-spacing: -1px;
} 

.btn {
    width: 180px;
  height: 40px;
  
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 25px;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
.btn2 {
  width: 180px;
  height: 40px;
  
  border: 1px solid #3897f0;
  padding: 5px 12px;
  margin: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.btn2:hover{
  background-color: #d887a2;
}

.sub-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  border: 1px solid #553d3d;
  padding: 20px 50px;
  background-color: #eee7e7;
}

.s-part {
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

.s-part a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

input:focus {
    background-color: rgb(238, 238, 189);
}


.con{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container1 {
  height: 90vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
 

}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 400px;
  background-color: #ffffff;
  padding: 10px 30px;
}

.card_title {
  text-align: center;
  padding: 10px;
}

.card_title h1 {
  font-size: 26px;
  font-weight: bold;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form button {
  background-color: #4796ff;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100%;
}

.card_terms {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card_terms input[type="checkbox"] {
  background-color: #e2e2e2;
}

.card_terms span {
  margin: 5px;
  font-size: 13px;
}

.card a {
  color: #4796ff;
  text-decoration: none;
} 
   



/* Login Page Css */
/* 
.cons{
  background-image: url(https://img.freepik.com/free-photo/abstract-smoke-wallpaper-background-desktop_53876-133380.jpg?t=st=1713282182~exp=1713282782~hmac=ca0e03a2cc83ad0b66116a7badad95b585d46be05fccf7a31c4986572dadc304);
  background-position: center;
  background-size: contain;
} */

.container5
{
  
  max-width: 360px;
  padding: 0 20px;
  margin: 50px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: #f0f0f0;
  border-radius: 5px 5px 0 0;
  /* color: #fff; */
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}

.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #2e43b9;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #070bce;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #a8799a;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #5435df;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}










* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




/* section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
} */

.container9{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
} */

.card4{
  width: 100%;
  height: fit-content;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: start;
  align-items: center;
}
.centre{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h4 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}